.CheckBox {
    flex-shrink: 0;
    cursor: pointer;
    width: 28px;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    border: 1px solid var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;

    &[data-checked] {
        .CheckboxArrow {
            opacity: 1;
        }
    }

    .CheckboxArrow {
        width: 60%;
        height: 60%;
        path {
            stroke: var(--dark-blue)
        }
        opacity: 0;
    }
}