.Review {
    width: 100%;
    margin-bottom: 25px;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: var(--white);
    border: 2px solid var(--light-grey);

    &.ReviewMobile {
        .ReviewTopLine {
            font-size: 0.889em;
        }

        .ReviewTitle {
            font-size: 1em;
        }
    }

    .ReviewTopLine {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 13px;
        font-weight: 300;
        color: var(--dark-grey);
    }

    .ReviewTitle {
        font-size: 1.111em;
        font-weight: 400;
        line-height: 120%;
    }
}