.GoodCard {
    cursor: pointer;

    &:hover {
        .GoodImage {
            transform: scale(0.965);
        }
    }

    .GoodImage {
        width: 260px;
        height: 197px;
        border-radius: 24px;
        object-fit: cover;
        margin-bottom: 15px;
        transition: transform .15s ease-out;
    }

    .GoodWithoutImage {
        background-color: var(--light-grey);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .GoodTitle {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .GoodPrice {
        font-size: 16px;
        font-weight: 300;
    }
}