.OrderedGoodsList {
    padding: 20px 20px;
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 12px;
    margin-bottom: 10px;

    .GoodsListTopLine {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;

        .orderDate {
            line-height: 150%;
            font-size: 1.111em;
            font-weight: 500;
        }

        .OrderPrice {
            span {
                font-weight: 400;
            }

        }
    }



    .GoodsList {
        .GoodWrapper {
            margin-bottom: 15px;
            flex-wrap: wrap;
            gap: 20px 20px;
            display: flex;

            .GoodCount {

            }

            .GoodTitle {
                font-size: 0.889em;
                font-weight: 400;
                span {
                    margin-right: 5px;
                }

            }

            .GoodPrice {
                font-size: 0.889em;
                font-weight: 400;
                span {
                    margin-right: 5px;
                }
            }

            .GoodQuantity {
                font-size: 0.889em;
                font-weight: 400;
                span {
                    margin-right: 5px;
                }
            }
        }
    }
}