.MainLayout {
    .LayoutSplit {
        display: flex;

        .LayoutAside {
            max-height: calc(100vh - var(--header-height));
            flex-shrink: 0;
        }

        .LayoutContent {
            height: calc(100vh - var(--header-height));
            width: 100%;
            overflow: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .MainLayout {
        .LayoutSplit {
            .LayoutContent {
                height: calc(100vh - var(--header-mobile));
            }
        }
    }
}