.PromoContent {
    .PromoInner {
        .PromoTitle {
            font-size: 20px;
            margin-bottom: 25px;
        }

        .PromosContainer {
            flex-wrap: wrap;
            display: flex;
            gap: 30px;
        }
    }
}


@media screen and (max-width: 767px) {
    .PromoContent {
        .PromoInner {
            padding-left: var(--aside-collapsed);
        }
    }
}