.AsideNavigation {
    white-space: nowrap;
    width: 390px;
    height: calc(100vh - var(--header-height));
    background-color: var(--dark-blue);
    padding: 30px;
    overflow: auto;
    //transition: width .2s ease-out, padding .2s ease-out;

    &.asideMobile {
        position: absolute;
        z-index: 1000000;
        max-width: 100%;
        height: calc(100vh - var(--header-mobile));
    }

    &.asideCollapsed {
        padding: 30px 7px;
        width: 50px;

        .AsideUpperLine {
            .CollapsedButton {
                width: 35px;
                height: 50px;
                border: 1px solid var(--white);
                svg path {
                    transition: stroke .2s ease-out;
                    stroke: var(--white);
                    stroke-width: 2px
                }

                svg {
                    width: 44%;
                    height: 44%;
                    transform: rotate(180deg);
                    left: 1px;
                }
            }
        }

        .AsideNavigationItems {
            .AsideNavigationItem {
                justify-content: center;
                padding: 0;
                width: 100%;
                p {
                    display: none;
                }

                svg {
                    width: 21px;
                    height: 21px;
                }

                .CartWrapper {
                    span {
                        left: 9px;
                    }
                }
            }
        }
    }

    .AsideUpperLine {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0 10px;

        .CollapsedButton {
            flex-shrink: 0;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 53px;
            height: 60px;
            border-radius: 12px;
            background-color: transparent;
            border: 1px solid var(--active-field);
            transition: background-color .2s ease-out;

            &:hover {
                background-color: var(--active-field);
                svg path {stroke: var(--white);}
            }

            svg {
                position: relative;
                left: -1px;
                transition: transform .2s ease-out;
            }

            svg path {
                transition: stroke .2s ease-out;
                stroke: var(--active-field);
                stroke-width: 2px
            }
        }
    }

    .AsideNavigationItems {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px 0;

        .CartWrapper {
            height: 22px;
            position: relative;
            margin-bottom: 10px;

            svg {
                margin-bottom: 0;
            }

            span {
                display: block;
                position: absolute;
                width: 20px;
                aspect-ratio: 1 / 1;
                border-radius: 100px;
                top: -8px;
                left: 13px;
                font-size: 16px;
                padding-top: 3px;
                color: var(--white);
                font-weight: 400;
                text-align: center;
                background-color: var(--blue);
            }
        }

        .AsideNavigationItem {
            padding: 0 18px;
            height: 65px;
            cursor: pointer;
            color: var(--white);
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 0 40px;
            border-radius: 12px;

            svg {
                flex-shrink: 0;
            }

            p {
            }

            &:hover {
                background-color: var(--active-field);
            }
        }
    }
}
