.AsideNavigation {
    width: 390px;
    height: calc(100vh - var(--header-height));
    background-color: var(--dark-blue);
    padding: 30px;
    overflow: auto;

    .AsideNavigationItems {
        margin-top: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px 0;

        .CartWrapper {
            height: 22px;
            position: relative;
            margin-bottom: 10px;

            svg {
                margin-bottom: 0;
            }

            span {
                display: block;
                position: absolute;
                width: 20px;
                aspect-ratio: 1 / 1;
                border-radius: 100px;
                top: -8px;
                left: 13px;
                font-size: 16px;
                padding-top: 3px;
                color: var(--white);
                font-weight: 400;
                text-align: center;
                background-color: var(--blue);
            }
        }

        .AsideNavigationItem {
            padding: 0 18px;
            height: 65px;
            cursor: pointer;
            color: var(--white);
            font-size: 20px;
            display: flex;
            align-items: center;
            gap: 0 40px;
            border-radius: 12px;

            p {
            }

            &:hover {
                background-color: var(--active-field);
            }
        }
    }
}